version: '3.8'

services:
  mongo:
    image: mongo:latest
    container_name: crystolia-mongo
    ports:
      - "27017:27017"
    volumes:
      - ./data/mongo:/data/db
    restart: always

volumes:
  mongo_data:
