apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-backend
  labels:
    app: backend
spec:
  replicas: {{ .Values.backend.replicaCount }}
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: "{{ .Values.backend.image.repository }}:{{ .Values.backend.image.tag }}"
          imagePullPolicy: {{ .Values.backend.image.pullPolicy }}
          ports:
            - containerPort: 3000
          env:
            - name: PORT
              value: "3000"
            - name: MONGO_URI
              value: "{{ .Values.backend.env.MONGO_URI }}"
            - name: FRONTEND_URL
              value: "{{ .Values.backend.env.FRONTEND_URL }}"
            - name: GOOGLE_CLIENT_ID
              value: "{{ .Values.backend.env.GOOGLE_CLIENT_ID }}"
            - name: GOOGLE_CLIENT_SECRET
              value: "{{ .Values.backend.env.GOOGLE_CLIENT_SECRET }}"
            - name: JWT_SECRET
              value: "{{ .Values.backend.env.JWT_SECRET }}"
